spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/noknokshop
    username: your_db_username
    password: your_db_password
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    show-sql: true
  jackson:
    serialization:
      write-dates-as-timestamps: false

server:
  port: 8080
